

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack containers vertically */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #EADAA2;
    font-family: 'Schoolbell';
  }

  #title-div {
    font-weight: 400px;
    font-family: 'Schoolbell';
    font-size: 50px;
    letter-spacing: 4px;
    color: #241E4E;
  }

  h1 {
    margin: 5px;
  }
  
  #list-of-letters {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Schoolbell';
    list-style-type: none;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 30px;
    color: #241E4E;
    cursor: pointer;
  }

  h2 {
    margin: 0px;
  }

  
  .photo-container {
    max-width: 80%;
    border: 8px solid #241E4E;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Adjust the margin as needed */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #word-div {
    display:flex;
  }

  #display-letter {
    display: flex;
    margin: 0px;
  }

  .display-letter {
    font-size: 50px;
    color: #241E4E
  }

  .centered-text {
    font-family: 'Schoolbell';
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .photo-container {
    text-align: center;
      position: relative;
      max-width: 400px; /* Adjust as needed */
      margin: 0 auto;
  }
  
  
  .centered-photo {
    max-width: 60%;
    max-height: 50vh;
  }
  
  .text-container {
    text-align: center;
  }
  
  .centered-text {
    font-size: 50px; /* Adjust the font size as needed */
    margin: 10px 0; /* Adjust the margin as needed */
    color: #241E4E
  }

  #related-word-div {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .related-word-list {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  
.related-words {
    text-align: center;
    font-size: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 8px;
    margin-bottom: 10px;
    border: 7px solid #241E4E;
    border-radius: 8px;
    color: #241E4E
  }

  .new-related-words {
    text-align: center;
    font-size: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 8px;
    margin-bottom: 10px;
    border: 7px solid #241E4E;
    border-radius: 8px;
    color: #241E4E
  }

  .input {
    border: 2px solid #241E4E;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #EADAA2;
    color: #241E4E;
    font-family: 'Schoolbell';
  }

  .button {
    font-family: 'Schoolbell';
    border: 2px solid #241E4E;
    border-radius: 4px;
    margin: 2px;
    background-color:#241E4E;
    color: white;
  }


  .button-on-image {
    padding: 7px;
    color: #241E4E;
    border: none;
    cursor: pointer;
    font-family: 'Schoolbell';
    font-size: 14px;
    border: 2px solid #241E4E;
    border-radius: 6px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#form {
  display: none;
}

